*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  min-height: 100vh;
  font-family: Inter, sans-serif;
  display: flex;
  place-items: center;
  justify-content: center;
  background: rgb(217, 217, 217);
  background: linear-gradient(
    63deg,
    rgba(217, 217, 217, 1) 6%,
    rgba(222, 180, 216, 1) 30%,
    rgba(142, 175, 252, 1) 94%
  );
}

#app {
  background-color: #fefffc;
  width: 30vw;
  border-radius: 50px;
  padding: 5rem;
  margin: 2rem 0;
}
