@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  min-height: 100vh;
  font-family: "Space Mono", monospace;
  display: flex;
  place-items: center;
  justify-content: center;
  background: rgb(217, 217, 217);
  background: linear-gradient(
    63deg,
    rgba(217, 217, 217, 1) 6%,
    rgba(222, 180, 216, 1) 30%,
    rgba(142, 175, 252, 1) 94%
  );
}

#app {
  background-color: #fefffc;
  width: 100vw;
  border-radius: 10px;
  border: solid 2px black;
  /* box-shadow: 0.5rem 0.25rem, 1rem 0.5rem, 1.5rem 1rem, 2rem 1.5rem, 2.5rem 2rem,
    3rem 2.5rem, 3.5rem 3rem, 4rem 3.5rem; */
  box-shadow: 5rem 6rem;
  padding: 3rem;
  margin: 1rem 0;
}

@media (max-width: 800px) {
  body {
    background: #fefffc;
  }
}

@media (max-width: 1999px) {
  #app {
    width: 70vmax;
  }
}

@media (min-width: 2000px) {
  #app {
    width: 30vmax;
  }
}
